<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.order.taxi}">User page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div style="display: flex; justify-content: space-between">
            <a href="/" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none">
                <p th:text="#{header.service.name}" style="margin: 0; font-size: 24px; color: #ffc107"></p>
            </a>

            <div style="display: flex" class="text-end">
                <a href="/logout" th:text="#{header.logout.value}" class="btn btn-warning me-4">Log out</a>
                <form style="display: flex" method="get" th:action="${#httpServletRequest.requestURI}" id="lang-switcher">
                    <button type="submit" class="btn btn-warning me-2" name="locale" value="ua">
                        UA
                    </button>
                    <button type="submit" class="btn btn-warning" name="locale" value="en">
                        ENG
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="content-holder">
    <div class="side">
        <div class="container">
            <div class="side-content">
                <p th:text="${user.getName() + ' ' + user.getSurname()}" style="font-size: 20px; font-weight: bold; margin-bottom: 0"></p>
                <a th:href="@{/logout}" th:text="#{change.account.value}"></a>
                <hr>
                <a th:href="@{/user/}" th:text="#{personal.account.value}"></a>
                <a th:href="@{/user/order-taxi}" th:text="#{order.taxi.value}"></a>
                <a th:href="@{/user/}" th:text="#{view.orders.value}"></a>
            </div>
        </div>
    </div>
    <div style="width: available" class="content">
        <div class="container">
            <div class="content-container">
                <form method="post" th:object="${orderDTO}" th:action="@{order-taxi}" class="dataForm">
                    <label th:text="#{start.address.prompt}" class="form-element" style="margin-top: 10%" for="startAddress"></label>
                    <select th:field="*{startAddress}" id="startAddress" style="width: 185px" class="form-element" required>
                        <option selected th:value="'вул. Перша, б. 1'" th:text="#{first.street.value}"></option>
                        <option th:value="'вул. Друга, б. 2'" th:text="#{second.street.value}"></option>
                        <option th:value="'вул. Третя, б. 3'" th:text="#{third.street.value}"></option>
                        <option th:value="'вул. Четверта, б. 4'" th:text="#{fourth.street.value}"></option>
                        <option th:value="'вул. П`ята, б. 5'" th:text="#{fifth.street.value}"></option>
                    </select>
                    <p th:if="${#fields.hasAnyErrors()}" th:text="#{order.taxi.address.error.message}" style="font-size: 16px" class="form-element"></p>

                    <label th:text="#{finish.address.prompt}" class="form-element" for="finishAddress"></label>
                    <select th:field="*{finishAddress}" id="finishAddress" style="width: 185px" class="form-element" required>
                        <option selected th:value="'вул. Перша, б. 1'" th:text="#{first.street.value}"></option>
                        <option th:value="'вул. Друга, б. 2'" th:text="#{second.street.value}"></option>
                        <option th:value="'вул. Третя, б. 3'" th:text="#{third.street.value}"></option>
                        <option th:value="'вул. Четверта, б. 4'" th:text="#{fourth.street.value}"></option>
                        <option th:value="'вул. П`ята, б. 5'" th:text="#{fifth.street.value}"></option>
                    </select>
                    <p th:if="${#fields.hasAnyErrors()}" th:text="#{order.taxi.address.error.message}" style="font-size: 16px" class="form-element"></p>

                    <label th:text="#{taxi.class.prompt}" for="taxiClassCombo" class="form-element"></label>
                    <select th:field="*{taxiClass}" id="taxiClassCombo" style="width: 185px" class="form-element" required>
                        <option selected th:value="'ECONOMY'" th:text="#{taxi.class.economy.value}"></option>
                        <option th:value="'COMFORT'" th:text="#{taxi.class.comfort.value}"></option>
                        <option th:value="'BUSINESS'" th:text="#{taxi.class.business.value}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('taxiClass')}" th:text="#{order.taxi.class.error.message}" style="font-size: 16px" class="form-element"></p>

                    <label th:text="#{human.amount.prompt}" class="form-element" for="humanCapacity"></label>
                    <input type="number" min="1" name="humanCapacity" th:field="*{peopleAmount}" class="form-element" id="humanCapacity" required>
                    <p th:if="${#fields.hasErrors('peopleAmount')}" th:text="#{order.taxi.capacity.error.message}" style="font-size: 16px" class="form-element"></p>

                    <label th:text="#{order.comment.prompt}" class="form-element" for="comment"></label>
                    <textarea name="comment" rows="3" cols="23" th:field="*{comment}" class="form-element" id="comment"></textarea>

                    <button th:text="#{title.order.taxi}" style="margin-bottom: 10%" type="submit" class="btn btn-success"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer style="min-height: 70px" class="p-3 bg-dark text-white"></footer>
</body>
</html>