.dataForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    max-width: 350px;
    height: auto;
    border-radius:30px;
    border: solid #ffc107;
    background-color: #fff5d7
}
.form-element{
    margin-bottom: 2%;
}

.content{
    width: -moz-available;
    width: -webkit-fill-available;
    background-color: #FFEBB6;
    min-height: 583px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-holder{
    display: flex;
    flex-direction: row;
    min-height: 583px;
}

.side{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-content p{
    display: flex;
    justify-content: center;
}

.side-content a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
}

.side-content a:hover{
    color:black;
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container p{
    font-size: 26px;
}

.content-container a{
    font-size: 26px;
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
}

.content-container a:hover{
    color:black;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con {
    padding: 0 18px;
    margin-bottom: 1%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    background-color: #efe182;
}

.con p{
    font-size: 18px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

th, td{
    font-size: 18px;
}

li{
    margin-bottom: 1%;
    margin-top: 1%;
}

.sorting-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sorting-form-element{
    margin-right: 2%;
}