<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div style="display: flex; justify-content: space-between">
            <a href="/" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none">
                <p style="margin: 0; font-size: 24px; color: #ffc107">Taxi Service</p>
            </a>

            <div class="text-end">
                <button type="button" class="btn btn-warning me-2">Login</button>
                <button type="button" class="btn btn-warning me-4">Sign-up</button>
                <button type="button" class="btn btn-warning me-2">UA</button>
                <button type="button" class="btn btn-warning">ENG</button>
            </div>
        </div>
    </div>
</header>
<div class="content">
        <form action="" class="form">
            <label style="margin-top: 10%" for="email">Enter email</label>
            <input class="form-element" type="email" id="email">
            <label class="form-element" for="password">Enter password</label>
            <input class="form-element" type="text" id="password">
            <button style="margin-bottom: 10%" type="button" class="btn btn-success">Login</button>
        </form>
</div>
<footer style="min-height: 70px" class="p-3 bg-dark text-white"></footer>
</body>
</html>